<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>iphone.applescript</string>
			<key>After</key>
			<string>copy</string>
			<key>Image File</key>
			<string>iphone.png</string>
			<key>Long Running</key>
			<false/>
			<key>Title</key>
			<string>Send to iPhone</string>
                       <key>Requirements</key>
			<array>
				<string>copy</string>
				<string>option-iphone-enabled=1</string>
			</array>
		</dict>
               <dict>
			<key>AppleScript File</key>
			<string>ipad.applescript</string>
			<key>After</key>
			<string>copy</string>
			<key>Image File</key>
			<string>ipad.png</string>
			<key>Long Running</key>
			<false/>
			<key>Title</key>
			<string>Send to iPad</string>
                      <key>Requirements</key>
			<array>
				<string>copy</string>
				<string>option-ipad-enabled=1</string>
			</array>
		</dict>

	</array>
	<key>Extension Description</key>
	<string>Send selected text to First device on Command-C</string>
	<key>Extension Identifier</key>
	<string>com.SspaiCommand-C.extension</string>
	<key>Extension Name</key>
	<string>Command-C</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Default Value</key>
			<string>0</string>
			<key>Option Identifier</key>
			<string>iphoneposition</string>
			<key>Option Label</key>
			<string>iPhone Position</string>
			<key>Option Type</key>
			<string>string</string>
		</dict>
               <dict>
			<key>Option Default Value</key>
			<string>1</string>
			<key>Option Identifier</key>
			<string>ipadposition</string>
			<key>Option Label</key>
			<string>iPad Position</string>
			<key>Option Type</key>
			<string>string</string>
		</dict>
               <dict>
			<key>Option Default Value</key>
			<string>1</string>
			<key>Option Identifier</key>
			<string>iphone-enabled</string>
			<key>Option Label</key>
			<string>iPhone Enabled</string>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>
               <dict>
			<key>Option Default Value</key>
			<string>1</string>
			<key>Option Identifier</key>
			<string>ipad-enabled</string>
			<key>Option Label</key>
			<string>iPad Enabled</string>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>


	</array>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
